.container {
	width: 10rem;
	margin: 10px;
}

.container img {
	width: 300px;
	height:150px;
}

.card {
	width:302px;
	margin: 4px;
}

#testimoni img{
	border:none;
}
.carousel-item  img {
	  width: 390px;
	  height: 390px;
	  
}

.maps {
	padding-top:10px;
	position:right;
	
}

.contact {
	background-color: #D6D6D6;
	
}

#contact i {
	color:coral;
}

#produk .card {
	background-color:chocolate;
}